.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: #ffff;
  padding: 8px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 18%;
  height: 17vh;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.footer-logo h3 {
  margin: 0;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links a {
  color: #ffff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}

.footer-copyright {
  margin-top: 10px;
  margin-right: 275px;
}

.footer-social {
  margin-left: 40px;
}
/* responsive */
@media (max-width: 1182px) {
  .footer-social {
    display: none;
  }
}
@media (max-width: 1050px) {
  .footer-social {
    display: none;
  }
}