.bg-secondary {
    background-color: black !important;
    border-radius: 10px;
    width: 600px;
    margin: 0 auto;
  }
  
  .mb-3 {
    width: 250px;
    height: 100px;
  }
  
  .custom {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .title {
    color: white;
    font-family: "Times New Roman", serif;
  }
  
  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .col-12 {
    text-align: center;
  }
  
  .form-control-lg {
    background-color: aliceblue;
    width: 330px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
  }
  
  .btn-success {
    background-color: #15d859;
    color: black;
    font-weight: bold;
    margin: 20px;
    width: 200px;
    height: 40px;
    border-radius: 30px;
  }
  
  .btn-success:hover {
    background-color: #5aa9ff;
    cursor: pointer;
  }