
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div
      class="col-12 col-sm-10 col-md-6 col-lg-4 bg-secondary p-4 rounded text-center"
    >
      <div class="mb-4">
        <img
          src="images/MusicOn_green.jpeg" alt="MusicOn_logo"
          class="img-fluid mb-3"
        />
        <h1 class="title">Reset your password</h1>
      </div>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <div class="form-group mb-3 custom">
          <input
            type="email"
            class="form-control form-control-lg"
            placeholder="Enter email address"
            formControlName="email"
            required
          />
          <div
            *ngIf="email?.invalid && (email?.dirty || email?.touched)"
            class="text-danger"
          >
            <small *ngIf="email?.errors?.['required']">Required</small>
            <small *ngIf="email?.errors?.['email']">Invalid</small>
          </div>
        </div>
  
        <!-- OTP -->
        <div class="form-group mb-3 custom">
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Enter OTP"
            formControlName="otp"
            required
          />
          <div
            *ngIf="otp?.invalid && (otp?.dirty || otp?.touched)"
            class="text-danger"
          >
            <small *ngIf="otp?.errors?.['required']">Required</small>
          </div>
        </div>
  
        <!-- New Password -->
        <div class="form-group mb-3 custom">
          <input
            type="password"
            class="form-control form-control-lg"
            placeholder="Create new password"
            formControlName="newPassword"
            required
          />
          <div
            *ngIf="
              newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)
            "
            class="text-danger"
          >
            <small *ngIf="newPassword?.errors?.['required']">Required</small>
            <small *ngIf="newPassword?.errors?.['minlength']">least 6</small>
          </div>
        </div>
  
        <!-- Confirm Password -->
        <div class="form-group mb-3 custom">
          <input
            type="password"
            class="form-control form-control-lg"
            placeholder="Confirm password"
            formControlName="confirmPassword"
            required
          />
          <div
            *ngIf="
              confirmPassword?.invalid &&
              (confirmPassword?.dirty || confirmPassword?.touched)
            "
            class="text-danger"
          >
            <small *ngIf="confirmPassword?.errors?.['required']">Required</small>
          </div>
          <div
            *ngIf="
              newPassword?.value !== confirmPassword?.value &&
              confirmPassword?.dirty
            "
            class="text-danger"
          >
            <small>don'tMatch</small>
          </div>
        </div>
  
        <!-- Submit Button -->
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="resetForm.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>