<div class="side-bar">
  <div class="logo">
    <img src="images/spotify_green.png" alt="Spotify_logo" />
  </div>
  <div class="vertical-menu">
    <button (click)="goToHome()">Home</button>
    
    <!-- <button>Profile</button> -->
    <button (click)="goToProfile()">Profile</button>
    
  </div>
  <div class="vertical-menu">
    <h4>Your Library</h4>

    <button (click)="goToFavorite()">Favorite💚</button>
    <button (click)="goToAlbum()">Album</button>
    <button (click)="goToArtist()">Artist</button>
    
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
