<div class="container-fluid d-flex justify-content-center align-items-center">
    <div
      class="col-12 col-sm-10 col-md-6 col-lg-4 bg-secondary p-4 rounded text-center"
    >
      <div class="mb-4">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/2/26/Spotify_logo_with_text.svg"
          alt="Spotify Logo"
          class="img-fluid mb-3"
        />
        <h1 class="title">Reset your password</h1>
        <p class="text-muted">
          Enter the email address linked to your Spotify account and we'll send
          you an email.
        </p>
      </div>
      <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
        <div class="form-group mb-3 custom">
          <input
            type="email"
            class="form-control form-control-lg"
            placeholder="Enter email address"
            [(ngModel)]="email"
            name="email"
            required
            email
            #emailInput="ngModel"
          />
        </div>
  
        <!-- Error message for invalid email format -->
        <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger">
          <small *ngIf="emailInput.errors?.['required']"
            >Email is required.</small
          >
          <small *ngIf="emailInput.errors?.['email']"
            >Please enter a valid email address.</small
          >
        </div>
  
        <div *ngIf="message" class="mt-3">
          <p class="message">{{ message }}</p>
        </div>
  
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="resetForm.invalid"
        >
          Send OTP
        </button>
      </form>
    </div>
  </div>